@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../vendor/media-queries';

body{
    font-family: vars.$ff-primary;
    color: vars.$clr-black;
}

.img-container{
    background-image: url(../imgs/oranges.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 800px;

    @include media-queries.respond-to(media-queries.$phone){
        display: none;
    }
    @include media-queries.respond-to(media-queries.$tablet-portrait){
        display: none;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        display: none;
    }
}

.blue-container{
    @include mixins.container-bg(vars.$clr-blue, vars.$clr-white);
    //border-radius: .5rem;
}

