@use '../abstracts/vars';
@use '../abstracts/mixins';

.text-light {
    color: vars.$clr-white;
}

.text-dark {
    color: vars.$clr-black;
}

.text-yellow {
    color: vars.$clr-yellow;
}

.text-grey {
    color: vars.$clr-grey-3;
}

.content-text{
    font-family: vars.$ff-secondary;
    color: vars.$clr-grey-3;
}

.text-link{
    @include mixins.text-link(vars.$clr-black);
}

.text-link:hover{
    @include mixins.text-link-hover(vars.$clr-black);
}

.text-link-muted{
    @include mixins.text-link(vars.$clr-grey-2);
    text-decoration: underline;
}

.text-link-muted:hover{
    color: vars.$clr-black;
    
}