//Base
//typography
// @mixin no-decoration($text-color){
//     text-decoration: none;
//     color: $text-color;
// }


//Components
//buttons

@mixin btn-curved($bg, $text-color, $border-color){
    display: inline-flex;
    background-color: $bg;
    border: solid;
    border-radius: 0.5rem;
    border-color: $border-color;
    color: $text-color;
    text-decoration: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

//cards
@mixin card($bg, $border-color, $text-color){
    background: $bg;    
    color: $text-color;
    border: solid;
    border-radius: .5rem;
    border-color: $border-color;
    max-width: 18rem;
    word-wrap: break-word;
}

//Layout
@mixin container-bg($bg, $text-color){
    background: $bg;    
    color: $text-color;
}

@mixin text-link($text-color){
    display: block;
    text-decoration: none;
    color: $text-color;
    transition: .5s;
}

@mixin text-link-hover($text-color){
    color: $text-color;
    transform: translate(.5rem);
    font-weight: bold;
}

