//Base
//base
@mixin element-resize($scale){
    transform: scale($scale);
}

//Components
//buttons

@mixin btn-curved($bg, $text-color, $border-color){
    display: inline-flex;
    background-color: $bg;
    border: solid;
    border-radius: 0.5rem;
    border-color: $border-color;
    color: $text-color;
    text-decoration: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

//cards
@mixin card($bg, $border-color, $text-color){
    background: $bg;    
    color: $text-color;
    border: solid;
    border-radius: .5rem;
    border-color: $border-color;    
    word-wrap: break-word;
}

//Layout
@mixin container-bg($bg, $text-color){
    background: $bg;    
    color: $text-color;
}

@mixin text-link($text-color){
    display: block;
    text-decoration: none;
    color: $text-color;
    transition: .5s;
}

@mixin text-link-hover($text-color){
    color: $text-color;
    transform: translate(.5rem);
}

@mixin circle($size, $bg){
    width: $size;
    height: $size;
    background: $bg;
    border-radius: 50%;
}


//lines
@mixin line($side,$line-color, $height, $width){
    @if($side == left){
        border-left: 0.2rem solid $line-color;
    }
    @if($side== top){
        border-top: 0.2rem solid $line-color;
    }       
    height: $height;
    width: $width;
    padding: 0;
    margin: 0;
}