//Paleta de colores
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-yellow: hsl(34, 84%, 50%);
$clr-grey-1: hsl(0, 0%, 92%);
$clr-grey-2: hsl(0, 0%, 60%);
$clr-grey-3: hsl(0, 0%, 32%);
$clr-grey-4: hsl(0, 0%, 80%);

//Fuentes Tipográficas
$ff-primary: 'Lato';
$ff-secondary: 'Noto Serif';