@use '../abstracts/vars';
@use '../abstracts/mixins';


.btn-dark {
    @include mixins.btn-curved(vars.$clr-yellow, vars.$clr-black, vars.$clr-yellow);
}

.btn-dark:hover {
    @include mixins.btn-curved(transparent, vars.$clr-black, vars.$clr-yellow);
}

.btn-light {
    @include mixins.btn-curved(vars.$clr-yellow, vars.$clr-white, vars.$clr-yellow);
}

.btn-light:hover {
    @include mixins.btn-curved(transparent, vars.$clr-white, vars.$clr-yellow);
}

.btn-secondary-dark{
    @include mixins.btn-curved(transparent, vars.$clr-black, vars.$clr-yellow);
}

.btn-secondary-dark:hover{
    @include mixins.btn-curved(vars.$clr-yellow, vars.$clr-black, vars.$clr-yellow);
}

.btn-secondary-light{
    @include mixins.btn-curved(transparent, vars.$clr-white, vars.$clr-yellow);
}

.btn-secondary-light:hover{
    @include mixins.btn-curved(vars.$clr-yellow, vars.$clr-white, vars.$clr-yellow);
}


.icon-link {
    color: vars.$clr-black;
}

.icon-link:hover {
    color: vars.$clr-yellow;
}


.accordion-bg {
    @include mixins.container-bg(vars.$clr-yellow, vars.$clr-black);
}

.accordion-bg:focus {
    @include mixins.container-bg(vars.$clr-yellow, vars.$clr-black);
    border-color: none;
    box-shadow: none;
}

.accordion-bg:not(.collapsed) {
    @include mixins.container-bg(vars.$clr-yellow, vars.$clr-black);
}