@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../vendor/media-queries';

.main-card{
    @include mixins.card(vars.$clr-white, vars.$clr-grey-4, vars.$clr-black);
    // max-width: 18rem;
}

//badges
.badge{
    @include mixins.card(vars.$clr-grey-4, vars.$clr-grey-4, vars.$clr-black);
    display: inline-flex;
}        

.badge:hover{
    @include mixins.card(vars.$clr-yellow, vars.$clr-yellow, vars.$clr-black);
}

.profile-badge{
    @include mixins.card(vars.$clr-grey-1, vars.$clr-grey-1, vars.$clr-black);
    display: inline-flex;
    width: 50rem;
}

.icon-badge{
    @include mixins.element-resize(2);
}

.blue-badge{
    @include mixins.container-bg(vars.$clr-blue, vars.$clr-white);
    border-radius: .5rem;

    @include media-queries.respond-to(media-queries.$phone){
        display: block;
    };
}